name: crud
description: A new Flutter project.

publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.1.6
  firebase_database: ^4.1.0
  firebase_core: ^0.5.0
  firebase_auth: ^0.18.1+1
  flutter_auth_buttons: ^0.10.0
  firebase_analytics: ^6.0.2 
  cupertino_icons: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  google_sign_in: ^4.5.4


flutter:

        uses-material-design: true

assets:
  - assets/images/


        
    
    
                                      